---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Veteranbildagen på Tofte" currentPage="invitasjon">
    <h2><a href="/">Invitasjon til Veteranbildagen på Tofte</a></h2>
    <p>
        Neste veteranbildag på Tofte markerer vårt 20-årsjubileum og arrangeres <a
            href="https://tidia.no/kalender/2025">lørdag 6. september 2025</a
        >. Følg oss på <a href="https://www.facebook.com/veteranbildagen">Facebook</a> for oppdateringer!
    </p>

    <div class="video">
        <iframe
            title="Veteranbildagen på Tofte 2021"
            width="500"
            height="281"
            src="https://www.youtube.com/embed/UGSnLowNX4Q"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
    </div>

    <h3>20-årsjubileum for Veteranbildagen på Tofte arrangeres lørdag 6. september 2025.</h3>
    <p>
        Det begynte med 40 biler for 20 år siden, på det meste har det vært nesten 400, og kan glede oss over
        et godt rykte i miljøet. Norsk Motorveteran kåret oss til det fjerde beste treffet i Norge! Særlig
        kjent er vi for vårt spenn i bilparken, fra Trabant til Ferrari, og mange hverdagsbilder som vekker
        gode minner hos publikum og deltakere.
    </p>
    <p>Mange kommer tilbake år etter år.</p>
    <p>
        Vi møtes og parkerer i hovedgata, som stenges for trafikk med unntak av buss og blålys fra klokka
        10:00 til 15:00.
    </p>

    <h3>Bilene blir stående i gata i hele dette tidsrommet.</h3>
    <p>
        Fra klokken 12:00 serveres det gratis hamburgere til de som har betalt for bilen og fått «matkupong»
        utlevert. Drikke fås kjøpt på samme sted.
    </p>
    <p><strong>Stedet er Tofte Båthavn, rett nedenfor COOP EXTRA.</strong></p>
    <p>
        På samme stedet vil det fra kl. 14:00 bli delt ut premier i flere klasser, beste Europeer, Beste
        Amerikaner, Årets Ekvipasje og Den mest langveisfarende.
    </p>
    <p>
        Når dette arrangementet i båthavnen er over så går hver og en tilbake til sin bil slik at vi kan åpne
        gaten igjen for alminnelig ferdsel.
    </p>
    <p>
        Til og fra Tofte kjører du på noen av landets hyggeligste veier, langs fjordene på begge sider av
        Hurumlandet, eller tvers over til en rekke attraktive turmål, restauranter, og i praktfull natur. Du
        vil garantert trives hos oss.
    </p>
    <p><strong>I år ber vi om kr 200 pr. bil.</strong></p>
    <p>Ønsker du mer oppdatert informasjon kan du besøke vår Facebookside.</p>
    <p><strong>Forhåndsbetaling / Påmelding:</strong></p>
    <p>
        Send kr 200 til Veteranbildagens konto: 1506.03.77305, eller Vipps 524028. Du kan også betale ved
        ankomst.
    </p>
    <p>Vi håper at så mange som mulig av dere vil sette av dagen til å besøke oss.</p>
</Layout>
