---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Presse - Veteranbildagen på Tofte" currentPage="presse">
  <h1>Presse</h1>
  <p>Her finner du lenker til presseuttalelser om Veteranbildagen på Tofte, i PDF-format. Du trenger <a href="http://get.adobe.com/no/reader/">Adobe Reader</a> for å kunne lese disse filene.</p>
  <ul>
    <li><a href="/uploads/Norsk-Motor-Veteran-Treff-Spesial-2017.pdf">Norsk Motor Veteran Treff Spesial 2017</a></li>
    <li><a href="/uploads/Treff_VeterantreffTofte.pdf">VW-Audi Club Norge 2015</a></li>
    <li><a href="http://www.mhkd.no/nyheter_cms/2014/september/veteranbildagen-paa-tofte-loerdag-6-september/273">Motorhistorisk Klubb Drammen, September 2014</a></li>
    <li><a href="/uploads/NorskMotorVeteran.pdf">Norsk Motor Veteran, Oktober 2012</a></li>
    <li><a href="/uploads/Retrofil-2011.pdf">Autofil, Januar 2011</a></li>
    <li><a href="/uploads/Retrofil-2010.pdf">Autofil, Desember 2010</a></li>
    <li><a href="/uploads/Retrofil-2010-2.pdf">Autofil, November 2010</a></li>
  </ul>
</Layout>
