---
import Layout from '../layouts/Layout.astro';
import VideoEmbed from '../components/VideoEmbed.astro';

const videos = [
  { src: 'https://www.youtube.com/embed/UGSnLowNX4Q', title: 'Veteranbildagen på Tofte 2021' },
  { src: 'https://www.youtube.com/embed/EdaAlpYXUvg', title: 'Veteranbildagen på Tofte 2018' },
  { src: 'https://www.youtube.com/embed/Gv8yebF2SF4', title: 'Veteranbildagen på Tofte 2017' },
  { src: 'https://www.youtube.com/embed/XKsoz_lk25M', title: 'Veteranbildagen på Tofte 2016' },
  { src: 'https://www.youtube.com/embed/l2vpefGEs8E', title: 'Veteranbildagen på Tofte 2015' },
  { src: 'https://www.youtube.com/embed/rGKF1rxTN-Q', title: 'Veteranbildagen på Tofte 2014' },
  { src: 'https://www.youtube.com/embed/c9l438IMBeA', title: 'Veteranbildagen på Tofte 2013' },
  { src: 'https://www.youtube-nocookie.com/embed/ch4wG17Adyg?rel=0', title: 'Veteranbildagen på Tofte 2012' },
  { src: 'https://www.youtube-nocookie.com/embed/f8ADTJ9uW2E?rel=0', title: 'Veteranbildagen på Tofte 2011' },
  { src: 'https://www.youtube-nocookie.com/embed/xKZQ0947JEM?rel=0', title: 'Veteranbildagen på Tofte 2010' },
];
---

<Layout
  title="Video – Veteranbildagen på Tofte i bevegelse"
  description="Se videoer fra Veteranbildagen på Tofte gjennom årene – fra 2010 til 2021. Opplev stemningen fra dette folkekjære veteranbiltreffet på Hurum."
  currentPage="video"
>
  <h1>Video</h1>
  <p>Her kan du se noen videoer fra tidligere år.</p>

  {videos.map((video) => (
    <VideoEmbed src={video.src} title={video.title} />
  ))}
</Layout>
