---
import Layout from '../../layouts/Layout.astro';
---

<Layout
  title="Bildegalleri – Veteranbildagen på Tofte"
  description="Bla gjennom bilder fra Veteranbildagen på Tofte fra 2009, 2010, 2013 og 2014. Klassiske veteranbiler samlet i Toftes gater."
  currentPage="galleri"
>
  <h1>Galleri</h1>
  <ul>
    <li><a href="/galleri/2014/">Bilder fra 2014</a></li>
    <li><a href="/galleri/2013/">Bilder fra 2013</a></li>
    <li><a href="/galleri/2010/">Bilder fra 2010</a></li>
    <li><a href="/galleri/2009/">Bilder fra 2009</a></li>
  </ul>
</Layout>
